.container {
	max-width: 800px;
	padding: 40px 20px;
	margin: 0 auto;
	text-align: center;
}
.header {
	margin-bottom: 20px;
}
.blockquote {
	margin: 0 0 40px;
}
a {
	color: #0046fe;
	border-bottom-color: #A9C1FF;
}
a:hover {
	border-bottom-color: #0046fe;
}
hr {
	height: 1px;
	border: none;
	background: #ddd;
	margin: 0 80px;
}
.aside {
	padding-top: 15px;	
}
.button {
	vertical-align: top;
}

.email-icon {
	margin: 50px auto 30px;
	position: relative;  
	transform: rotate(360deg);
	width: 4em;
	height: 3.1em;
	cursor: pointer;
	font-size: 20px; /* Fully scaling, just change px value */
}
.email-icon:after {
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	left: 0;
	bottom: 0;
	border-style: solid;
	border-color: #0046fe;
	border-width: 2em;
	border-top-width: 1.6em;
	border-bottom-width: 1.6em;
	border-top-color: transparent;
	border-left-color: #4477FF;
}
.email-icon:before {
	content: "\2630";
	color: #264596;
	background: #ffffff;
	font-size: 2em;
	line-height: 1em;
	text-align: center;
	border: .05em solid #264596;
	position: absolute;
	z-index: -1;
	top: -.2em;
	left: .1em;
	right: .1em;
	bottom: .1em;
	transition: .2s;
}
.email-icon:hover:before {
	top: -.7em;
}
